git-prompt.sh
karabiner/assets
karabiner/automatic_backups
.vim/pack
.vim/autoload
.vim/plugged
.vim/.netrwhist
.emacs.d/*
!.emacs.d/init.el
.w3m/*
!.w3m/config
!.w3m/keymap
.vim/.viminfo
mintty/emojis
